
body{-webkit-text-size-adjust:none;
margin:0px;
padding:0px;
background:white;
}

#head{background-color:#00bfff;
margin:0px;
padding:0px;
height:50px;
width:100%;
position:absolute;
top:0%;
left:0%;
}


#logo{
color:white;
padding:0px;
margin:0px;
font-size:19.6px;
font-family:Tahoma,sans-serif;
position:absolute;
top:13px;
left:60px;
}

#logo1{
height:45px;
width:45px;
border-radius:45px;
position:absolute;
top:5px;
left:10px;
}

#lg
{
height:30px;
width:200px;
position:absolute;
top:10px;
right:1%;
}

#lg1
{color:white;
font-size:15px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:5px;
left:90px;
}

#lg3
{color:white;
font-size:15px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:5px;
left:160px;
}

#dwn{cursor:pointer;
height:30px;
width:30px;
border-radius:50px;
position:absolute;
top:0px;
left:50px;
}



#main1
{background:#f5f5f5;
border-radius:30px;
height:300px;
width:99%;
position:absolute;
top:-300px;
left:0.5%;
}

#up{cursor:pointer;
height:50px;
width:50px;
border-radius:50px;
border:2px solid black;
position:absolute;
bottom:20px;
right:20px;
}

#main11
{background:;
height:220px;
width:1100px;
position:absolute;
top:60px;
left:8%;
}

#usr{
height:170px;
width:170px;
border-radius:200px;
position:absolute;
top:25px;
left:10px;
}

#txt1
{
font-size:18px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:70px;
left:230px;
}

#txt11
{
font-size:14px;
font-family:Century Gothic,sans-serif;
}

#txt2
{
font-size:15px;
line-height:25px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:60px;
left:470px;
}

#txt3
{
font-size:15px;
line-height:25px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:60px;
left:550px;
}

#msg
{background:white;
overflow:hidden;
border-radius:10px;
height:220px;
width:300px;
position:absolute;
top:0px;
right:20px;
}

#msg1
{background:#00bfff;
padding-left:50px;
padding-top:10px;
font-size:17px;
height:30px;
width:100%;
color:white;font-family:Century Gothic,sans-serif;
position:absolute;
top:0px;
left0px;
}

#msg2
{background:;
overflow:auto;
height:180px;
width:100%;
position:absolute;
top:40px;
left:0px;
}

#main2
{background:;
height:40px;
width:99%;
position:absolute;
top:55px;
left:0.5%;
}

#main21
{background:#00bfff;
height:25px;border-radius:10px;
width:19%;
text-align:center;
padding-top:10px;
color:white;font-size:17px;font-family:Century Gothic,sans-serif;
position:absolute;
top:2.5px;
left:0%;
}

#main22
{cursor:pointer;background:#00bfff;
height:25px;border-radius:10px;
width:19%;
text-align:center;
padding-top:10px;
color:white;font-size:17px;font-family:Century Gothic,sans-serif;
position:absolute;
top:2.5px;
left:20%;
}

#main23
{background:#00bfff;cursor:pointer;
height:25px;border-radius:10px;
width:19%;
text-align:center;
padding-top:10px;
color:white;font-size:17px;font-family:Century Gothic,sans-serif;
position:absolute;
top:2.5px;
left:40%;
}

#main24
{background:#00bfff;cursor:pointer;
height:25px;border-radius:10px;
width:19%;
text-align:center;
padding-top:10px;
color:white;font-size:17px;font-family:Century Gothic,sans-serif;
position:absolute;
top:2.5px;
left:60%;
}

#main25
{background:dimgrey;cursor:none;
height:25px;border-radius:10px;
width:19%;
text-align:center;
padding-top:10px;
color:white;font-size:17px;font-family:Century Gothic,sans-serif;
position:absolute;
top:2.5px;
left:80%;
}

#main21:hover {background:dimgrey;}
#main22:hover {background:dimgrey;}
#main23:hover {background:dimgrey;}
#main24:hover {background:dimgrey;}
#main25:hover {background:dimgrey;}


#main4
{background:;display:;
border:px solid dimgrey;
height:70%;
width:600px;
overflow:auto;
position:absolute;
top:130px;
left:23%;
}

#main5
{background:;display:;
border:2px solid dimgrey;
height:90%;
width:400px;
overflow:auto;
position:absolute;
top:20px;
left:150px;
}

#mn51
{color:white;text-align:center;padding-top:5px;font-family:Century Gothic,sans-serif;font-size:14px;
background-color:dimgrey;
height:25px;
width:16.6%;
position:absolute;
top:0px;
left:0%;
}

#mn52
{color:white;text-align:center;padding-top:5px;font-family:Century Gothic,sans-serif;font-size:14px;
background-color:dimgrey;
height:25px;
width:60.8%;
position:absolute;
top:0px;
left:17%;
}

#mn53
{color:white;text-align:center;padding-top:5px;font-family:Century Gothic,sans-serif;font-size:14px;
background-color:dimgrey;
height:25px;
width:22%;
position:absolute;
top:0px;
left:78%;
}

#mg
{background:;
padding-top:5px;
height:25px;
width:100%;
position:absolute;
top:40px;
left:0px;
}

#mg1
{color:white;text-align:center;font-family:Century Gothic,sans-serif;font-size:14px;cursor:pointer;background-color:lightgrey;padding-top:3px;
height:22px;
width:16.6%;
position:absolute;
top:0px;
left:0%;
}

#mg2
{color:white;font-family:Century Gothic,sans-serif;font-size:14px;cursor:pointer;background-color:lightgrey;padding-top:3px;padding-left:3%;
height:22px;overflow:hidden;
width:57.8%;
position:absolute;
top:0px;
left:17%;
}

#mg3
{color:white;text-align:left;font-family:Century Gothic,sans-serif;font-size:14px;cursor:pointer;padding-top:3px;
overflow:hidden;background-color:lightgrey;padding-left:8%;
height:22px;
width:14%;
position:absolute;
top:0px;
left:78%;
}



#mg:hover >#mg1{background:#00bfff;}
#mg:hover >#mg2{background:#00bfff;}
#mg:hover >#mg3{background:#00bfff;}
#mg:hover{background:#00bfff;}

#main7
{background:;
border:2px solid dimgrey;
height:90%;
width:800px;
overflow:auto;
position:absolute;
top:20px;
left:150px;
}

#mn71
{color:white;text-align:;padding-top:10px;padding-left:14px;font-family:Century Gothic,sans-serif;font-size:12px;cursor:pointer;
border-radius:20px;
background-color:grey;
height:20px;
width:235px;
position:absolute;
top:30px;
left:50px;
}

#mn72
{color:white;text-align:;padding-top:10px;padding-left:14px;font-family:Century Gothic,sans-serif;font-size:12px;cursor:pointer;
border-radius:20px;
background-color:grey;
height:20px;
width:235px;
position:absolute;
top:70px;
left:50px;
}

#mn73
{color:white;text-align:;padding-top:10px;padding-left:14px;font-family:Century Gothic,sans-serif;font-size:12px;cursor:pointer;
border-radius:20px;
background-color:grey;
height:20px;
width:235px;
position:absolute;
top:110px;
left:50px;
}

#mn74
{padding-top:10px;padding-left:10px;padding-top:10px;font-family:Century Gothic,sans-serif;font-size:13px;
overflow:auto;
background-color:;
border:1px solid grey;
height:200px;
width:500px;
position:absolute;
top:150px;
left:50px;
}

#mn71:hover{background:#00bfff;}
#mn72:hover{background:#00bfff;}
#mn73:hover{background:#00bfff;}



#mn75
{cursor:pointer;
color:white;
border:none;
font-size:14;
background:dimgrey;
height:30px;
width:130px;
position:absolute;
top:170px;
left:580px;
}

#mn75:hover {background:#00bfff;}

#mn76
{cursor:pointer;
color:white;
border:none;
font-size:14;
background:dimgrey;
height:30px;
width:130px;
position:absolute;
top:210px;
left:580px;
}

#mn76:hover {background:#00bfff;}






#foot
{background-color:#00bfff;
height:5%;
width:100%;
position:absolute;
bottom:0%;
left:0%;}
