
body{-webkit-text-size-adjust:none;
margin:0px;
padding:0px;
background:white;
}

#head{background-color:#00bfff;
margin:0px;
padding:0px;
height:50px;
width:100%;
position:absolute;
top:0%;
left:0%;
}


#logo{
color:white;
padding:0px;
margin:0px;
font-size:19.6px;
font-family:Tahoma,sans-serif;
position:absolute;
top:13px;
left:60px;
}

#logo1{
height:45px;
width:45px;
border-radius:45px;
position:absolute;
top:5px;
left:10px;
}

#lg
{
height:30px;
width:200px;
position:absolute;
top:10px;
right:1%;
}

#lg1
{color:white;
font-size:15px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:5px;
left:90px;
}

#lg3
{color:white;
font-size:15px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:5px;
left:160px;
}

#dwn{cursor:pointer;
height:30px;
width:30px;
border-radius:50px;
position:absolute;
top:0px;
left:50px;
}



#main1
{background:#f5f5f5;
border-radius:30px;
height:300px;
width:99%;
position:absolute;
top:-300px;
left:0.5%;
}

#up{cursor:pointer;
height:50px;
width:50px;
border-radius:50px;
border:2px solid black;
position:absolute;
bottom:20px;
right:20px;
}

#main11
{background:;
height:220px;
width:1100px;
position:absolute;
top:60px;
left:8%;
}

#usr{
height:170px;
width:170px;
border-radius:200px;
position:absolute;
top:25px;
left:10px;
}

#txt1
{
font-size:18px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:70px;
left:230px;
}

#txt11
{
font-size:14px;
font-family:Century Gothic,sans-serif;
}

#txt2
{
font-size:15px;
line-height:25px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:60px;
left:470px;
}

#txt3
{
font-size:15px;
line-height:25px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:60px;
left:550px;
}

#msg
{background:white;
overflow:hidden;
border-radius:10px;
height:220px;
width:300px;
position:absolute;
top:0px;
right:20px;
}

#msg1
{background:#00bfff;
padding-left:50px;
padding-top:10px;
height:30px;
width:100%;
color:white;font-size:17px;font-family:Century Gothic,sans-serif;
position:absolute;
top:0px;
left0px;
}

#msg2
{background:;
overflow:auto;
height:180px;
width:100%;
position:absolute;
top:40px;
left:0px;
}

#main2
{background:;

height:40px;
width:99%;
position:absolute;
top:55px;
left:0.5%;
}

#main21
{background:#00bfff;cursor:pointer;
height:25px;border-radius:10px;
width:19%;
text-align:center;
padding-top:10px;
color:white;font-size:17px;font-family:Century Gothic,sans-serif;
position:absolute;
top:2.5px;
left:0%;
}

#main22
{cursor:pointer;background:#00bfff;
height:25px;border-radius:10px;
width:19%;
text-align:center;
padding-top:10px;
color:white;font-size:17px;font-family:Century Gothic,sans-serif;
position:absolute;
top:2.5px;
left:20%;
}

#main23
{background:dimgrey;cursor:none;
height:25px;border-radius:10px;
width:19%;
text-align:center;
padding-top:10px;
color:white;font-size:17px;font-family:Century Gothic,sans-serif;
position:absolute;
top:2.5px;
left:40%;
}

#main24
{background:#00bfff;cursor:pointer;
height:25px;border-radius:10px;
width:19%;
text-align:center;
padding-top:10px;
color:white;font-size:17px;font-family:Century Gothic,sans-serif;
position:absolute;
top:2.5px;
left:60%;
}

#main25
{background:#00bfff;cursor:pointer;
height:25px;border-radius:10px;
width:19%;
text-align:center;
padding-top:10px;
color:white;font-size:17px;font-family:Century Gothic,sans-serif;
position:absolute;
top:2.5px;
left:80%;
}

#main21:hover {background:dimgrey;}
#main22:hover {background:dimgrey;}
#main23:hover {background:dimgrey;}
#main24:hover {background:dimgrey;}
#main25:hover {background:dimgrey;}



#main3
{background:;
height:500px;
width:99%;
position:absolute;
top:100px;
left:0.1%;
}

#sb1
{font-family:Century Gothic,sans-serif;
padding-left:10px;
height:30px;
width:150px;
position:absolute;
top:35px;
left:200px;
}

#sb2
{
color:white;
border:none;
font-size:14;
background:dimgrey;
height:30px;
width:60px;
position:absolute;
top:35px;
left:360px;
}

#sb2:hover {background:#00bfff;}

#sb3
{font-weight:bold;
font-size:14px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:40px;
left:130px;
}

#q1
{background:grey;color:white;text-align:center;padding-top:10px;font-family:Century Gothic,sans-serif;font-size:14px;
height:30px;
width:46.8%;
position:absolute;
top:0px;
left:0%;
}

#q2
{background:grey;color:white;text-align:center;padding-top:10px;font-family:Century Gothic,sans-serif;font-size:14px;
height:30px;
width:10.3%;
position:absolute;
top:0px;
left:47%;
}

#q3
{background:grey;color:white;text-align:center;padding-top:10px;font-family:Century Gothic,sans-serif;font-size:14px;
height:30px;
width:9.8%;
position:absolute;
top:0px;
left:57.5%;
}

#q4
{background:grey;color:white;text-align:center;padding-top:10px;font-family:Century Gothic,sans-serif;font-size:14px;
height:30px;
width:9.8%;
position:absolute;
top:0px;
left:67.5%;
}

#q5
{background:grey;color:white;text-align:center;padding-top:10px;font-family:Century Gothic,sans-serif;font-size:14px;
height:30px;
width:9.8%;
position:absolute;
top:0px;
left:77.5%;
}

#q6
{background:grey;color:white;text-align:center;padding-top:10px;font-family:Century Gothic,sans-serif;font-size:14px;
height:30px;
width:9.8%;
position:absolute;
top:0px;
left:87.5%;
}

#q111
{background:;
overflow:auto;
height:400px;
width:90%;
position:absolute;
top:100px;
left:5%;
}

#q01
{background:dimgrey;cursor:pointer;overflow:auto;border:none;font-size:10px;color:white;
padding-left:2px;
height:29px;
width:29px;
position:absolute;
top:50px;
left:97.5%;
}

#q01:hover {border:1px solid black;}

#q11
{background:;border:1px solid black;
overflow:auto;
font-size:14px;
height:45px;
width:45.8%;
padding-left:1%;
padding-top:5px;
position:absolute;
top:50px;
left:0%;
}

#q22
{font-family:Century Gothic,sans-serif;background:;font-size:14px;
height:30px;border:1px solid black;
padding-left:1%;
padding-top:5px;
width:9.3%;
position:absolute;
top:50px;
left:47%;
}

#q33
{font-family:Century Gothic,sans-serif;background:;font-size:14px;
padding-left:1%;border:1px solid black;
padding-top:5px;
height:30px;
width:8.8%;
position:absolute;
top:50px;
left:57.5%;
}

#q44
{font-family:Century Gothic,sans-serif;background:;font-size:14px;
padding-left:1%;border:1px solid black;
padding-top:5px;
height:30px;
width:8.8%;
position:absolute;
top:50px;
left:67.5%;
}

#q55
{font-family:Century Gothic,sans-serif;background:;font-size:14px;
padding-left:1%;border:1px solid black;
padding-top:5px;
height:30px;
width:8.8%;
position:absolute;
top:50px;
left:77.5%;
}

#q66
{font-family:Century Gothic,sans-serif;background:;font-size:14px;
padding-left:1%;border:1px solid black;
padding-top:5px;
height:30px;
width:8.8%;
position:absolute;
top:50px;
left:87.5%;
}

#q77
{cursor:pointer;
color:white;
border:none;
font-size:14px;
background:dimgrey;
height:30px;
width:100px;
position:absolute;
top:300px;
left:45%;
}

#q77:hover {background:#00bfff;}

#q01:hover {background:#00bfff;}

#q8
{font-weight:bold;
font-size:15px;
line-height:25px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:55px;
left:200px;
}

#q9
{font-family:Century Gothic,sans-serif;
height:30px;
width:150px;
position:absolute;
top:-50px;
left:130px;
}

#q99
{background:;
height:40px;
width:200px;
position:absolute;
top:120px;
right:4%;
}

#q91
{color:white;text-align:center;padding-top:5px;font-family:Century Gothic,sans-serif;font-size:14px;cursor:pointer;
height:25px;
width:80px;
position:absolute;
top:0px;
left:0px;
}

#q91:hover {border:2px solid black;}
#q92:hover {border:2px solid black;}

#q92
{color:white;text-align:center;padding-top:5px;font-family:Century Gothic,sans-serif;font-size:14px;cursor:pointer;
height:25px;
width:80px;
position:absolute;
top:0px;
left:85px;
}



#foot
{background-color:#00bfff;
height:5%;
width:100%;
position:absolute;
bottom:0%;
left:0%;}
