
body{overflow:auto;
margin:0px;
padding:0px;
background:#f5f5f5;
}


#head{background-color:#00bfff;
margin:0px;
padding:0px;
height:50px;
width:100%;
position:absolute;
top:0%;
left:0%;
}


#logo{
color:white;
padding:0px;
margin:0px;
font-size:19.6px;
font-family:Tahoma,sans-serif;
position:absolute;
top:13px;
left:60px;
}

#logo1{
height:45px;
width:45px;
border-radius:45px;
position:absolute;
top:5px;
left:10px;
}

#lg
{
height:30px;
width:200px;
position:absolute;
top:10px;
right:1%;
}

#lg1
{color:white;
font-size:15px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:5px;
left:70px;
}

#lg3
{color:white;
font-size:15px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:5px;
left:160px;
}


#main
{background:;
height:500px;
width:100%;
position:absolute;
top:60px;
left:0%;
}

#main3
{display:;
background:;dodgerblue;
height:100%;
width:80%;
position:absolute;
top:0%;
left:10%;}

#fac{cursor:pointer;
height:200px;
width:200px;
border-radius:200px;
position:absolute;
bottom:150px;
left:20%;
}

#stu{cursor:pointer;
height:200px;
width:200px;
border-radius:200px;
position:absolute;
bottom:150px;
left:63%;
}

#wel
{color:;
font-size:40px;
font-weight:bold;
font-family:Century Gothic,sans-serif;
position:absolute;
top:50px;
left:38%;}

#mn1
{color:;
font-size:20px;
font-weight:bolder;
font-family:Century Gothic,sans-serif;
position:absolute;
bottom:100px;
left:25%;}

#mn2
{color:;
font-size:20px;
font-weight:bolder;
font-family:Century Gothic,sans-serif;
position:absolute;
bottom:100px;
right:25%;

}

#main2
{display:none;
background:;
height:100%;
width:550px;
position:absolute;
top:0%;
left:10%;}

#main1
{display:none;
background:;gold;
height:100%;
width:600px;
position:absolute;
top:0%;
left:10%;}

#txt1
{font-weight:bold;
font-size:14px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:40px;
left:10px;}

#txt2
{font-weight:bold;
font-size:14px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:90px;
left:10px;}

#txt3
{font-weight:bold;
font-size:14px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:140px;
left:10px;}

#txt4
{font-weight:bold;
font-size:14px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:190px;
left:10px;}

#txt5
{font-weight:bold;
font-size:14px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:240px;
left:10px;}

#txt6
{font-weight:bold;
font-size:14px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:290px;
left:10px;}

#txt7
{font-weight:bold;
font-size:14px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:340px;
left:10px;}

#txt8
{font-weight:bold;
font-size:14px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:390px;
left:10px;}

#txt9
{
font-size:15px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:460px;
left:50px;}

#txt10
{color:#E41A6A;
font-size:15px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:460px;
left:220px;}

 #field1
{padding-left:10px;
font-size:14px;
font-family:Century Gothic,sans-serif;
height:30px;
width:180px;
position:absolute;
top:50px;
left:180px;}

 #field11
{padding-left:10px;
font-size:14px;
font-family:Century Gothic,sans-serif;
height:30px;
width:60px;
position:absolute;
top:50px;
left:180px;}

 #field13
{padding-left:10px;
font-size:14px;
font-family:Century Gothic,sans-serif;
height:30px;
width:180px;
position:absolute;
top:50px;
left:250px;}
 
#field2
{padding-left:10px;
font-size:13px;
font-family:Century Gothic,sans-serif;
height:30px;
width:40px;
position:absolute;
top:100px;
left:180px;
}

#field12
{padding-left:10px;
font-size:14px;
font-family:Century Gothic,sans-serif;
height:30px;
width:100px;
position:absolute;
top:150px;
left:180px;
}

#field3
{padding-left:10px;
font-size:13px;
font-family:Century Gothic,sans-serif;
height:30px;
width:180px;
position:absolute;
top:200px;
left:180px;
}

#field4
{padding-left:10px;
font-size:14px;
font-family:Century Gothic,sans-serif;
height:30px;
width:180px;
position:absolute;
top:250px;
left:180px;}

#field5
{padding-left:10px;
font-size:14px;
font-family:Century Gothic,sans-serif;
height:30px;
width:180px;
position:absolute;
top:300px;
left:180px;}

#field6
{padding-left:10px;
font-size:14px;
font-family:Century Gothic,sans-serif;
height:30px;
width:180px;
position:absolute;
top:350px;
left:180px;}

#field7
{padding-left:10px;
font-size:14px;
font-family:Century Gothic,sans-serif;
height:30px;
width:180px;
position:absolute;
top:400px;
left:180px;}
 
#field8
{
position:absolute;
top:475px;
left:20px;}

#sb
{border:none;
color:white;
background:dimgrey;
font-family:Century Gothic,sans-serif;
height:30px;
width:100px;
font-size:12px;
position:absolute;
top:475px;
left:200px;}

#sb:hover {background-color:#00bfff;}


#main5
{
background:;
height:100%;
width:600px;
position:absolute;
top:0%;
left:10%;}

#cap
{font-family:Century Gothic,sans-serif;
color:white;
padding-left:30px;
padding-top:15px;
font-size:18px;
background:dodgerblue;
height:35px;
width:100px;
position:absolute;
top:120px;
left:10px;}


#txt51
{font-weight:;
font-size:12px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:20px;
left:10px;}

#txt52
{font-weight:;
font-size:12px;
font-family:Century Gothic,sans-serif;
position:absolute;
top:90px;
left:10px;}

#field51
{padding-left:20px;
font-size:14px;
font-family:Century Gothic,sans-serif;
height:30px;
width:80px;
position:absolute;
top:60px;
left:10px;}

#field52
{padding-left:10px;
font-size:14px;
font-family:Century Gothic,sans-serif;
height:30px;
width:100px;
position:absolute;
top:180px;
left:10px;}
 

#sb2
{border:none;
color:white;
background:dimgrey;
font-family:Century Gothic,sans-serif;
height:30px;
width:80px;
font-size:14\2px;
position:absolute;
top:220px;
left:20px;}

#sb2:hover {background-color:#00bfff;}










#foot
{background-color:#00bfff;
height:5%;
width:100%;
position:absolute;
bottom:0px;
left:0%;}
